{
    "presets": [["@babel/preset-env"], ["@babel/preset-react"]],
    "env": {
        "development": {
            "plugins": ["@babel/plugin-transform-runtime"]
        },
        "test": {
            "plugins": ["@babel/plugin-transform-runtime"]
        }
    }
}
